p {
  font-family: Montserrat;
}
.displayNone {
  display: none;
}
.displayInlineBlock {
  display: inline-block;
}
.rounded-btn {
  background-color: #00ba47;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.rounded1-btn{
  background-color: #2884af;
}
